@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0px;
  box-sizing: border-box;
}

.circle_container {
  width: 389px;
  height: 350px;
  position: relative;
  margin: 40px;
}

.circle_container > .number {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100%;
}
.circle_container > .number > * {
  position: absolute;
  margin: -20px;
  color: white;
  font-weight: 500;
}
.circle_container > .number > .three {
  top: 0px;
  left: 52%;
}
.circle_container > .number > .one {
  bottom: 20px;
  left: 20px;
}
.circle_container > .number > .five {
  bottom: 20px;
  right: 0px;
}
.circle_container > .number > .two {
  top: 145px;
  left: 10px;
}
.circle_container > .number > .four {
  top: 145px;
  right: -10px;
}

.circle_container > .total {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  color: #ffffff;
  padding: 0px 30px;
  text-align: center;
}
.total > h2{
  margin: 5px;
  font-size: 28px;
  font-weight: 400;
}
.total > p{
  width: 200px;
  font-weight: 100;
  color: #c1c1c1;
}

svg {
  width: 100%;
  height: 100%;
}

path {
  stroke-linecap: round;
  stroke-width: 15;
}

path.grey {
  stroke: lightgrey;
}

path.purple {
  stroke-dasharray: 880;
  transition: all 0.8s ease-in-out;
}
